@font-face {
  // guarantee text to be rendered with our font while not blocking the text
  font-display: swap;

  /*
    tajawal-regular - latin
    https://google-webfonts-helper.herokuapp.com/fonts/tajawal?subsets=latin
  */
  font-family: Tajawal;
  font-style: normal;
  font-weight: 400;
  src:
    // local() function allows users to use their local copy of the font if present
    local('Tajawal'), local('Tajawal-Regular'),
    // Super Modern Browsers
    url('../fonts/tajawal-v3-latin-regular.woff2') format('woff2'),
    // Modern Browsers
    url('../fonts/tajawal-v3-latin-regular.woff') format('woff');
}
