name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Semantic Release GitHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bahmutov/npm-install@v1.8.9

      - run: yarn test

      - uses: codfish/semantic-release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
